@keyframes "droplet" {
    0% {
        top: 0px;
    }
    100% {
        top: 400px;
    }
}

@-moz-keyframes droplet {
    0% {
        top: 0px;
    }
    100% {
        top: 400px;
    }
}

@-webkit-keyframes "droplet" {
    0% {
        top: 0px;
    }
    100% {
        top: 400px;
    }
}

@-ms-keyframes "droplet" {
    0% {
        top: 0px;
    }
    100% {
        top: 400px;
    }
}

@-o-keyframes "droplet" {
    0% {
        top: 0px;
    }
    100% {
        top: 400px;
    }
}

.spin {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.spin.spun {
    -webkit-transform: rotate(-222deg);
    -moz-transform: rotate(-222deg);
    -o-transform: rotate(-222deg);
    -ms-transform: rotate(-222deg);
    transform: rotate(-222deg);
}

.reverse {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.droplet {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 8px;
    height: 8px;
    background: #79dbfc;
    border-radius: 0px 4px 4px 4px;

    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    -webkit-animation: droplet 0.5s;
    -moz-animation: droplet 0.5s;
    -ms-animation: droplet 0.5s;
    -o-animation: droplet 0.5s;
    animation: droplet 0.5s;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

#diagram {
    border-radius: 5px;
    position: relative;
    height: 300px;
    margin-bottom: 1em;

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -moz-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -o-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -ms-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-position: 50% 50%;

    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    cursor: pointer;
    overflow: hidden;
}

.color-0, .color-0 #sweet-spot-mask {
    background-color: #fff;
}

.color-1, .color-1 #sweet-spot-mask {
    background-color: #e7ffff;
}

.color-2, .color-2 #sweet-spot-mask {
    background-color: #fff7e7;
}

.color-3, .color-3 #sweet-spot-mask {
    background-color: #e7ffea;
}

#diagram div {
    position: absolute;
}

#sweet-spot-outer {
    top: 50%;
    left: 50%;
    background-color: white;

    background-image: -webkit-linear-gradient(white, #fcfcfc);
    background-image: -moz-linear-gradient(white, #fcfcfc);
    background-image: -o-linear-gradient(white, #fcfcfc);
    background-image: -ms-linear-gradient(white, #fcfcfc);
    background-image: linear-gradient(white, #fcfcfc);
    border-radius: 999px;
    width: 200px;
    height: 200px;
    margin: -100px;

    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#sweet-spot-color {
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    left: 100px;
    top: 30px;

    background: -webkit-linear-gradient(135deg, #09f 0%, #09f 49%, white 50%, #e23247 51%, #e23247 100%);
    background: -moz-linear-gradient(135deg, #09f 0%, #09f 49%, white 50%, #e23247 51%, #e23247 100%);
    background: -o-linear-gradient(135deg, #09f 0%, #09f 49%, white 50%, #e23247 51%, #e23247 100%);
    background: -ms-linear-gradient(135deg, #09f 0%, #09f 49%, white 50%, #e23247 51%, #e23247 100%);
    background: linear-gradient(135deg, #09f 0%, #09f 49%, white 50%, #e23247 51%, #e23247 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

#knob-outer {
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    margin: -70px;

    background: -webkit-linear-gradient(#e6e6e6, #ccc);
    background: -moz-linear-gradient(#e6e6e6, #ccc);
    background: -o-linear-gradient(#e6e6e6, #ccc);
    background: -ms-linear-gradient(#e6e6e6, #ccc);
    background: linear-gradient(#e6e6e6, #ccc);
    border-radius: 999px;

    -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

#sweet-spot-mask {
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    margin: -70px;
    background-color: #fff;

    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -webkit-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -moz-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -o-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), -ms-linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0)), linear-gradient(left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0));
    background-position: 50% 50%;

    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    border-radius: 999px;

    -webkit-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
}

#knob-inner {
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px;

    background: -webkit-linear-gradient(#ccc, #e6e6e6);
    background: -moz-linear-gradient(#ccc, #e6e6e6);
    background: -o-linear-gradient(#ccc, #e6e6e6);
    background: -ms-linear-gradient(#ccc, #e6e6e6);
    background: linear-gradient(#ccc, #e6e6e6);
    border-radius: 999px;

    -webkit-box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#knob-1 {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px;
}

#knob-1 .shadow {
    -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
    border-radius: 999px;
}

#knob-1 .inner {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#knob-1 .inner div {
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
}

#knob-1 .inner .dot {
    height: 15px;
    width: 15px;
    top: 8px;
    left: 28px;
    border-radius: 999px;

    background: -webkit-linear-gradient(135deg, #09F 0%, #09F 45%, white 50%, #E23247 55%, #E23247 100%);
    background: -moz-linear-gradient(135deg, #09F 0%, #09F 45%, white 50%, #E23247 55%, #E23247 100%);
    background: -o-linear-gradient(135deg, #09F 0%, #09F 45%, white 50%, #E23247 55%, #E23247 100%);
    background: -ms-linear-gradient(135deg, #09F 0%, #09F 45%, white 50%, #E23247 55%, #E23247 100%);
    background: linear-gradient(135deg, #09F 0%, #09F 45%, white 50%, #E23247 55%, #E23247 100%);
}

#knob-1 .part-1 {
    -webkit-transform: rotateZ(60deg);
    -moz-transform: rotateZ(60deg);
    -o-transform: rotateZ(60deg);
    -ms-transform: rotateZ(60deg);
    transform: rotateZ(60deg);
}

#knob-1 .part-2 {
    -webkit-transform: rotateZ(120deg);
    -moz-transform: rotateZ(120deg);
    -o-transform: rotateZ(120deg);
    -ms-transform: rotateZ(120deg);
    transform: rotateZ(120deg);
}

#knob-1 .part-3 {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

#knob-1 .part-4 {
    -webkit-transform: rotateZ(240deg);
    -moz-transform: rotateZ(240deg);
    -o-transform: rotateZ(240deg);
    -ms-transform: rotateZ(240deg);
    transform: rotateZ(240deg);
}

#knob-1 .part-5 {
    -webkit-transform: rotateZ(300deg);
    -moz-transform: rotateZ(300deg);
    -o-transform: rotateZ(300deg);
    -ms-transform: rotateZ(300deg);
    transform: rotateZ(300deg);
}

#knob-1 .part-6 {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

#knob-2 {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px;
    background: #ccc;

    -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 999px;
}

#knob-2 .inner {
    top: 30px;
    left: 5px;

    -webkit-transform-origin: 20px -5px;
    -moz-transform-origin: 20px -5px;
    -o-transform-origin: 20px -5px;
    -ms-transform-origin: 20px -5px;
    transform-origin: 20px -5px;
}

#knob-2 .part-1 {
    width: 80px;
    height: 20px;

    background: -webkit-linear-gradient(#EEE, #CCC);
    background: -moz-linear-gradient(#EEE, #CCC);
    background: -o-linear-gradient(#EEE, #CCC);
    background: -ms-linear-gradient(#EEE, #CCC);
    background: linear-gradient(#EEE, #CCC);

    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);

    -webkit-transform-origin: 0px 0px;
    -moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    border-radius: 999px;
}

#sweet-spot-outer.hide-sweet-spot {
    background: transparent;

    -webkit-box-shadow: none;
    box-shadow: none;
}

.hide-sweet-spot #sweet-spot-color,.hide-sweet-spot .dot {
    visibility: hidden;
}